<p id="notice"><%= notice %></p>

<p>
  <b>Assigned to:</b>
  <%= @task.assigned_to %>
</p>

<p>
  <b>Date due:</b>
  <%= @task.date_due %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
