<h1>Listing projects</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Status</th>
    <th>Description</th>
    <th>Public flag</th>
    <th>Group flag</th>
    <th>Send email</th>
    <th>Send sms</th>
    <th>Send facebook</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.owner %></td>
    <td><%= project.status %></td>
    <td><%= project.description %></td>
    <td><%= project.public_flag %></td>
    <td><%= project.group_flag %></td>
    <td><%= project.send_email %></td>
    <td><%= project.send_sms %></td>
    <td><%= project.send_facebook %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
